azure/logic-app-social-pipeline-report.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "logic-social-pipeline-report",
      "metadata": {
        "description": "Name of the Logic App"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for all resources"
      }
    },
    "storageAccountName": {
      "type": "string",
      "defaultValue": "stdigitalreportsdc",
      "metadata": {
        "description": "Storage account name containing execution summaries"
      }
    },
    "emailRecipient": {
      "type": "string",
      "metadata": {
        "description": "Email address to send reports to"
      }
    }
  },
  "variables": {
    "storageConnectionName": "azureblob",
    "office365ConnectionName": "office365"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('storageConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Azure Blob Storage Connection",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azureblob')]"
        },
        "parameterValues": {
          "accountName": "[parameters('storageAccountName')]",
          "accessKey": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), '2021-04-01').keys[0].value]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('office365ConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Office 365 Outlook Connection",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('storageConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Day",
                "interval": 1,
                "schedule": {
                  "hours": [
                    "2"
                  ],
                  "minutes": [
                    45
                  ]
                },
                "timeZone": "W. Europe Standard Time"
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Initialize_AllSummaries_Variable": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "AllSummaries",
                    "type": "array",
                    "value": []
                  }
                ]
              }
            },
            "Initialize_TodayDate_Variable": {
              "runAfter": {
                "Initialize_AllSummaries_Variable": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "TodayDate",
                    "type": "string",
                    "value": "@{formatDateTime(utcNow(), 'yyyy-MM-dd')}"
                  }
                ]
              }
            },
            "List_Blobs_For_Each_Platform": {
              "runAfter": {
                "Initialize_TodayDate_Variable": [
                  "Succeeded"
                ]
              },
              "type": "Foreach",
              "foreach": "@createArray('facebook', 'google', 'microsoft', 'linkedin')",
              "actions": {
                "List_Blobs_In_Platform_Folder": {
                  "runAfter": {},
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/foldersV2/@{encodeURIComponent(encodeURIComponent('social-pipeline-logs/', items('List_Blobs_For_Each_Platform'), '/', variables('TodayDate')))}",
                    "queries": {
                      "nextPageLink": null
                    }
                  }
                },
                "For_Each_Blob": {
                  "runAfter": {
                    "List_Blobs_In_Platform_Folder": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach",
                  "foreach": "@body('List_Blobs_In_Platform_Folder')?['value']",
                  "actions": {
                    "Get_Blob_Content": {
                      "runAfter": {},
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files/@{encodeURIComponent(encodeURIComponent(items('For_Each_Blob')?['Path']))}/content"
                      }
                    },
                    "Parse_Summary_JSON": {
                      "runAfter": {
                        "Get_Blob_Content": [
                          "Succeeded"
                        ]
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('Get_Blob_Content')",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "execution_id": {
                              "type": "string"
                            },
                            "platform": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string"
                            },
                            "start_time": {
                              "type": "string"
                            },
                            "end_time": {
                              "type": "string"
                            },
                            "duration_seconds": {
                              "type": "number"
                            },
                            "tables": {
                              "type": "array"
                            },
                            "tables_count": {
                              "type": "integer"
                            },
                            "total_rows": {
                              "type": "integer"
                            },
                            "exit_code": {
                              "type": "integer"
                            },
                            "errors": {
                              "type": "array"
                            },
                            "metadata": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    },
                    "Append_To_AllSummaries": {
                      "runAfter": {
                        "Parse_Summary_JSON": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "AllSummaries",
                        "value": "@body('Parse_Summary_JSON')"
                      }
                    }
                  }
                }
              }
            },
            "Build_Email_Report": {
              "runAfter": {
                "List_Blobs_For_Each_Platform": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": {
                "date": "@variables('TodayDate')",
                "total_platforms": "@length(variables('AllSummaries'))",
                "platforms_success": "@length(where(variables('AllSummaries'), lambda('x', equals(item()['status'], 'success'))))",
                "platforms_failed": "@length(where(variables('AllSummaries'), lambda('x', equals(item()['status'], 'failed'))))",
                "platforms_partial": "@length(where(variables('AllSummaries'), lambda('x', equals(item()['status'], 'partial_success'))))",
                "summaries": "@variables('AllSummaries')"
              }
            },
            "Determine_Email_Status": {
              "runAfter": {
                "Build_Email_Report": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "@if(equals(outputs('Build_Email_Report')['platforms_failed'], 0), if(equals(outputs('Build_Email_Report')['platforms_partial'], 0), 'success', 'warning'), 'error')"
            },
            "Send_Email_Report": {
              "runAfter": {
                "Determine_Email_Status": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/v2/Mail",
                "body": {
                  "To": "[parameters('emailRecipient')]",
                  "Subject": "@{if(equals(outputs('Determine_Email_Status'), 'success'), '✅', if(equals(outputs('Determine_Email_Status'), 'warning'), '⚠️', '❌'))} Social Pipelines Report - @{variables('TodayDate')}",
                  "Body": "<html><body>See attached HTML report</body></html>",
                  "Importance": "@{if(equals(outputs('Determine_Email_Status'), 'error'), 'High', 'Normal')}"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azureblob": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('storageConnectionName'))]",
                "connectionName": "[variables('storageConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azureblob')]"
              },
              "office365": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                "connectionName": "[variables('office365ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppUrl": {
      "type": "string",
      "value": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '/triggers/Recurrence'), '2019-05-01').value]"
    }
  }
}
